.btn,
.btn-warning,
.button {
  background: #f1c057;
  border: #f1c057;
  color: #333;

  width: 200px;
  height: 40px;

  border-radius: 50px;
  border: none;
  cursor: pointer;

  margin: 30px auto;

  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 8px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 8px rgba(0, 0, 0, 0);
}

.btn:hover,
.btn-warning:hover,
.button:hover,
.boton-github:hover {
  transform: scale(1.1);
  transition: 1s;
}

.btn:active,
.btn-warning:active,
.button:active {
  background-color: #f36500;
  transform: scale(1.1);
  transition: 1s;
}

.btn:focus,
.btn-warning:focus,
.button:focus {
  outline: none;
}

.btn-form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn-index-home {
  margin-top: -70px;
}

.container-profession-btn {
  text-align: center;
}

.btn-upload-photo2{
  position: relative;
  left: -70px;
  top: -3px
}

/* GITHUB BUTTONS */

.github-btn-container{
display: flex;
justify-content: center;
align-items: center;
}

.boton-github {
  display: inline-block;
  margin: 0 5px;

  background-color: #24292e;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  border-radius: 7px;
}