table {
  table-layout: auto;
  width: 100%;
}

td {
  white-space: nowrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.profilePic {
  width: 2em;
  height: 2em;

  border-radius: 50%;
  object-fit: cover;
}

th {
  color: #f1c057;
  text-align: left;
}

th[colspan="3"] {
  text-align: center;
}

.td-role,
.td-profession {
  text-transform: lowercase;
}

td a {
  text-decoration: none;
  color: #f1c057;
}