.big-title, 
.big-title2,
.big-title3 {
  font-size: 50px;
  color: #9b3f94;
}

.big-title{
  text-align: left;
  margin: 0 0 2em 0;
}

.big-title2{
  text-align: center;
  margin: 2em 0;
}

.big-title3{
  text-align: center;
  margin: -2em 0 1em 0;
}

.subtitle{
  font-size: 23px;
}

.subtitle {
  text-align: left;
  margin: -100px 0 2em 0;
}

.subtitle2 {
  text-align: center;
  margin: -100px 0 2em 0;
}

.subtitle3 {
  font-size: 15px;

  text-align: center;
  /* margin: -100px 0 2em 0; */
}

.title {
  font-size: 30px;
  text-align: center;
  margin: 2em 0 1.5em 0;

  color: #9b3f94;
}

/* .h4{
  text-align: justify;
  margin: -100px 0 2em 0;
} */